export COMPOSE_FILE=./docker/compose.yml
export COMPOSE_PROJECT_NAME=spring-boot-sandbox

export AWS_ACCESS_KEY_ID=LKIAQAAAAAAABVCK6ZMU
export AWS_SECRET_ACCESS_KEY=JGHakfgITS7cDaEpMN0UNDkkviQ9Bljl3rUQzCOS
